body {
    background-image:url("images/concert-background.jpg");
    margin: 0;
    padding: 0;
}
#logo-and-words{
    width:100%;
    text-align:center;
}
#ss {
margin: 0 auto;
}

#logo{
margin: 0 auto;
width: 25%;
height: auto;
}
#power-line{
align:center;
width:100%;
height:30%;
text-align:center;
}
h5 {
display:inline-block;
color:white;
font-size:320%;
font-family:Helvetica;
}
#spotify-logo{
display:inline-block;
width: 10%;
height:auto;
float:right;
float:bottom;
}
#login-line{
text-align:center;
}
#instruction-line{
text-align:center;
}
#mid-spacing{
width:100%;
min-height:10px;
}
#bottom-spacing{
width:100%;
min-height:40px;
}
#login{
background-color:white;
font-size:30px;
font-family:Arial;
border:none;
color:black;
padding 40px 20px;
text-decoration:none;
border-radius:12px;
}